Red Content


<div class="header">
<h1 class="font">MarketPlaceNGO</h1>
</div>
<div class="article">

</div>

<%= image_tag "red/market_temp.jpg" %>


	<div>
<div class="connect">

<p> © copyright 2023 | all rights reserved. </p>
</div>

</div>

